.card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   backface-visibility: hidden;
   transform: translateZ(0);
   transition: transform 0.25s ease-out;
   padding: 40px;
   color: #fff;
   background-color: rgba($color: cyan, $alpha: 0.1);
   border-radius: 5px;
   ul{
      list-style: none;
   }
   &:hover {
      transform: scale(1.05);
    }
    small{
       font-size: 8px;
    }
 }
 
