.planet{
   position: fixed;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%; 
   background-color: #000;
   animation-name: popUp;
   animation-duration: 1s;
   animation-timing-function: linear;  
   border-radius: 20px;
   overflow: hidden;
   text-align: center;
   @keyframes popUp {
      0%{
         top: 120%;;
      }
      100%{
         top: 50%;
      }
   }
   p{
      font-size: 15px;
      color: cyan;
      span{
         font-size: 20px;
      }
   }
}
.hidden{
   display: none;
}