.header {
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: rgba($color: #ffff, $alpha: 0.8);
   margin-bottom: 25px;
 
   .options {
     width: 50%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     
 
     .option {
       padding: 10px 15px;
       text-decoration: none;
       color: #000;
       &:hover{
         text-decoration: underline;
       }
     }
   }
 }
 